html{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    }
    h1{
    font-family: 'Truculenta';
    text-align: center;
    font-size: 60px;
    line-height: 20px;
    }
    img {
    align-items: center;
    height: 500px; 
    }
    video {
    height: 500px;
    
    }
    hr{
    color: black;
    
    }