    body{
        background-image: url("cAT\ BLANKEY\ BACKGROUND.png") ;
        background-size: contain;
        background-repeat: repeat-y;
    }
    blockquote {
        background-color: aliceblue;
    }
    p{
        color: black;
    }
    h1{
    font-family: 'Truculenta';
    text-align: center;
    font-size: 60px;
    line-height: 20px;
    background-color: aliceblue;
    }
    .ImgContentBlock{
        text-align: center;
    }
    .EndSection {
    display: inline-block;
    text-align: left;
    }
    img {
    height: 500px; 
    }
    video {
    height: 500px;
    }