    body{
    background-color: rgb(199, 199, 199);
    }
    blockquote {
    background-color: aliceblue;
    }
    p{
    font-family: 'Truculenta';
    font-size: 40px;
    color: black;
    }
    h1{
    font-family: 'Truculenta';
    text-align: center;
    font-size: 120px;
    line-height: 20px;
    background-color: aliceblue;
    }
    .ImgContentBlock{
    text-align: center;
    
    }
    .EndSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    }
    img {
    height: 500px; 
    }
    video {
    height: 500px;
    }